#app {
  .el-dialog__body {
    padding: 10px 20px;
    .el-upload__tip {
      margin-top: 10px;
    }
  }
}
.app-container {
  .el-button {
    padding: 5px 10px;
  }
  .search {
    border: 1px solid #dfe6ec;
    padding: 20px 0;
    border-radius: 5px;

    label {
      font-weight: 500;
    }

    .el-col-8 {
      text-align: right;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .center {
      text-align: center;
      margin-top: 20px;
    }
    .is-circle {
      float: right;
      margin-right: 10px;
    }
    .el-icon-d-arrow-left {
      transform: rotate(270deg);
    }
    .el-icon-d-arrow-right {
      transform: rotate(270deg);
    }
  }

  .rightBtn {
    text-align: left;
    margin: 15px 0 15px 0;
    .handleImport {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .permission-tree {
    margin-bottom: 30px;
  }

  .el-button--info {
    background-color: #a744bf;
    border-color: #a744bf;
  }

  .el-table .el-table__empty-block .el-table__empty-text {
    text-align: left;
  }
  .el-table__body-wrapper .classGreen {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
  }
  .el-table__body-wrapper .classRed {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
  }
}
