#app {
  .el-dialog__body {
    padding: 10px 20px;
    .el-upload__tip {
      margin-top: 10px;
    }
    .demo-ruleForm {
      .bigUpBox {
       display: flex;
       justify-content: space-between;
        .boxLeft,
        .boxRight {
          width: 46%;
          .el-date-editor.el-input {
            width: 100%;
          }
        }
      }

      .bigDownBox {
        width: 100%;
      }
    }
    .el-select {
      width: 100%;
    }
  }
}
.app-container {
  padding: 5px 20px;
  .el-dialog {
    margin-top: 5vh !important;
  }
  .el-button {
    padding: 5px 10px;
  }
  .el-button--small {
    padding: 3px 10px;
  }
  .search {
    border: 1px solid #dfe6ec;
    padding: 20px 0;
    border-radius: 5px;
    label {
      font-weight: 500;
    }
    .el-select {
      width: 100%;
    }

    .el-col-8,
    .el-col-4 {
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .center {
      text-align: center;
      margin-top: 20px;
    }
    .is-circle {
      float: right;
      margin-right: 10px;
    }
    label{
      font-size: 17px;
    }
  }

  .rightBtn {
    text-align: left;
    margin: 10px 0 10px 0;
    .handleImport {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .permission-tree {
    margin-bottom: 30px;
  }

  .el-button--info {
    background-color: #a744bf;
    border-color: #a744bf;
  }

  .el-table .el-table__empty-block .el-table__empty-text {
    text-align: left;
  }
  .el-table__body-wrapper .classGreen {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
  }
  .el-table__body-wrapper .classRed {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
  }
  .el-table__body-wrapper .classBlack {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    color: #FFFFFF;
  }
  .demo-image__error{
     .blockImg{
       width: 80px;
       height: 80px;
       display: inline-block;
       margin: 10px 10px 10px 0;
       .demonstration{
         margin-top: 10px;
         text-align: center;
         display: inline-block;
         width: 100%;
       }
     }
     .el-image{
       background-color: #CCCCCC;
       display: flex;
       .image-slot{
         margin: auto;
       }
     }
  }
}

.el-upload-list__item{
  transition: none;
}

